@keyframes fade-in {
  0% {
    z-index: -10;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    transform: translateX(-20rem);
  }
  80% {
    //transform: translateX(-5rem);
    opacity: 1;
  }
  100% {
    opacity: 1;

  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  80% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    opacity: 0;

  }
}
