@import 'utils';

:root {
  --c-beige-500: #98908b;
  --c-beige-100: #f8f4f0;

  --c-grey-900: #201f24;
  --c-grey-500: #696868;
  --c-grey-300: #b3b3b3;
  --c-grey-100: #f2f2f2;

  --c-theme-green: #277c78;
  --c-theme-yellow: #f2cdac;
  --c-theme-cyan: #82c9d7;
  --c-theme-navy: #626070;
  --c-theme-red: #c94736;
  --c-theme-purple: #826cb0;
  --c-theme-purple-light: #af81ba;
  --c-theme-turquoise: #597c7c;
  --c-theme-brown: #93674f;
  --c-theme-magenta: #934f6f;
  --c-theme-blue: #3f82b2;
  --c-theme-navy-grey: #97a0ac;
  --c-theme-army-green: #7f9161;
  --c-theme-gold: #cab361;
  --c-theme-orange: #be6c49;

  --c-white: #ffffff;

  --c-bg: #F2F3F7;

  --spacing-10: 4rem;
  --spacing-8: 3.2rem;
  --spacing-6: 2.4rem;
  --spacing-5: 2rem;
  --spacing-4: 1.6rem;
  --spacing-3: 1.2rem;
  --spacing-2: .8rem;
  --spacing-1: .4rem;

  --border-radius-sm: .8rem;
  --border-radius-lg: 1.6rem;
}

:root {
  --color-background: var(--c-bg);
  --color-background-dark: var(--c-grey-900);
  --color-text: var(--c-grey-900);
}

html {
  font-size: 62.5%;
}

body {
  @include text-preset-4;
  min-height: 100vh;
  min-width: 37.5rem;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Public Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  display: flex;
  flex: 1 0 0;
  overflow-y: scroll;

  & h1 {
    @include text-preset-1();
    @include responsive(padding, null, var(--spacing-2) 0)
  }

  @include responsive(padding,
          var(--spacing-6, 2.4rem) var(--spacing-4, 1.6rem),
          var(--spacing-8, 3.2rem) var(--spacing-10, 4rem)
  );
}
