@import 'variables';

@mixin text-preset-1 {
  font-size: 3.2rem;
  line-height: 120%;
  font-weight: bold;
}

@mixin text-preset-2 {
  font-size: 2rem;
  line-height: 120%;
  font-weight: bold;
}

@mixin text-preset-3 {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: bold;
}

@mixin text-preset-4 {
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: normal;
}

@mixin text-preset-4-bold {
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: bold;
}

@mixin text-preset-5 {
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: normal;
}

@mixin text-preset-5-bold {
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: bold;
}

/// Mixin for responsive properties
/// Parameters:
/// $property - The CSS property to apply
/// $mobile-value - The value for mobile devices (optional)
/// $laptop-value - The value for laptop devices (optional)
/// $desktop-value - The value for desktop devices (optional)
@mixin responsive($property: null, $mobile-value: null, $laptop-value: null, $desktop-value: null) {
  @if $mobile-value != null {
    #{$property}: $mobile-value;
  }

  @if $laptop-value != null {
    @media (min-width: $laptop-width) {
      #{$property}: $laptop-value;
    }
  }

  @if $desktop-value != null {
    @media (min-width: $desktop-width) {
      #{$property}: $desktop-value;
    }
  }
}
